DB_URL_PROD=postgres 
BD_URL_EXTERNAL_PROD=postgres 
DB_USERNAME_PROD=r 
DB_PASSWORD_PROD=j 
DB_USERNAME_DEV=foo
DB_PASSWORD_DEV=foo
PORT=4000

SESSION_DB_MONGO_URI=foo
SESSION_DB_MONGO_PASSWORD=foo
SESSION_DB_MONGO_USERNAME=foo

SESSION_COOKIE_SECRET=foo


EMAIL_USERNAME=foo
EMAIL_PASSWORD=foo
EMAIL_HOST=foo
EMAIL_PORT=foo